/* Home.css */

.card {
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid rgb(3, 2, 2);
    height: 450px; /* Tama침o fijo para todas las tarjetas */
    width: 12rem; /* Tama침o fijo para todas las tarjetas */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;
    margin: 10px; /* A침adimos un margen entre las tarjetas */
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.card-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
}

.card-img-top {
    width: 100%;
    height: 250px; /* Ajusta la altura de las im치genes */
    object-fit: cover;
}

.card-body {
    flex-grow: 1; /* Permite que el cuerpo de la tarjeta ocupe todo el espacio disponible */
    padding: 10px;
    box-sizing: border-box;
}

.row {
    margin-left: -10px; /* Ajustamos el margen para compensar el margen negativo */
    margin-right: -10px; /* Ajustamos el margen para compensar el margen negativo */
}

.col {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.search-bar {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.search-filters {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 10px;
}

.search-filters .form-label {
    font-weight: bold;
}

.search-filters .form-control {
    border-radius: 5px;
}
